/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.word-form{
    background-color: #f2f2f2;
    padding: 20px;
}

.word-form .label{
    display: block;
}

.word-form .input{
    display: block;
    width: 100%;
    border: none;
    border-radius: 10px;
}

.list-pacakages{
    display: flex;
    flex-wrap: wrap;
}

.list-pacakages .package-item{
    padding: 2px;
    background: #e2e2e2;
    border-radius: 5px;
    margin-right: 2px;
}

.searching-feature{
    background: #f2f2f2;
    display: flex;
    padding: 20px;
}

.searching-feature .search-word{
    width: 100%;
    padding: 2px;
}

.searching-feature .search-word .input{
    width: 100%;
    border: none;
    border-radius: 10px;
}

.searching-feature .package-search .input{
    padding: 5px;
    border: none;
    border-radius: 10px;
}

.word-list-item{
    padding: 20px;
}

.word-list-item .word{
    font-size: 20px;
    font-weight: 600;
}